/* reset css */
* /* All the content in the webpage (Including <body> and <ul>) */, *::after /* All the ::after  */,*::before /* All the ::before */{
  margin: 0;/* Have no margin value without me entering it */
  padding: 0;/* Have no padding value without me entering it */
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  min-height: 100vh;
}

a {
  text-decoration: none;
}

ul, li {
  list-style: none;
}